<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mogao.mapper.LogMapper">
  <resultMap id="BaseResultMap" type="cn.mogao.pojo.Log">
    <id column="log_id" jdbcType="INTEGER" property="logId" />
    <result column="log_username" jdbcType="VARCHAR" property="logUsername" />
    <result column="log_ip" jdbcType="VARCHAR" property="logIp" />
    <result column="log_content" jdbcType="VARCHAR" property="logContent" />
    <result column="log_time" jdbcType="VARCHAR" property="logTime" />
    <result column="log_module" jdbcType="VARCHAR" property="logModule" />
    <result column="log_description" jdbcType="VARCHAR" property="logDescription" />
    <result column="log_able" jdbcType="INTEGER" property="logAble" />
  </resultMap>
  <sql id="Base_Column_List">
    log_id, log_username, log_ip, log_content, log_time, log_module, log_description, 
    log_able
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log
    where log_id = #{logId,jdbcType=INTEGER}
  </select>


  <select id="countByExample" resultType="java.lang.Long">
    select
    count(*)
    from log

  </select>
  <select id="countAllLong" resultType="java.lang.Long">
    select
    count(*)
    from log

  </select>


  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from log order by log_id desc limit #{page,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log
    where log_id = #{logId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.mogao.pojo.Log">
    insert into log (log_id, log_username, log_ip, 
      log_content, log_time, log_module, 
      log_description, log_able)
    values (#{logId,jdbcType=INTEGER}, #{logUsername,jdbcType=VARCHAR}, #{logIp,jdbcType=VARCHAR}, 
      #{logContent,jdbcType=VARCHAR}, #{logTime,jdbcType=VARCHAR}, #{logModule,jdbcType=VARCHAR}, 
      #{logDescription,jdbcType=VARCHAR}, #{logAble,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.mogao.pojo.Log">
    insert into log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        log_id,
      </if>
      <if test="logUsername != null">
        log_username,
      </if>
      <if test="logIp != null">
        log_ip,
      </if>
      <if test="logContent != null">
        log_content,
      </if>
      <if test="logTime != null">
        log_time,
      </if>
      <if test="logModule != null">
        log_module,
      </if>
      <if test="logDescription != null">
        log_description,
      </if>
      <if test="logAble != null">
        log_able,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=INTEGER},
      </if>
      <if test="logUsername != null">
        #{logUsername,jdbcType=VARCHAR},
      </if>
      <if test="logIp != null">
        #{logIp,jdbcType=VARCHAR},
      </if>
      <if test="logContent != null">
        #{logContent,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null">
        #{logTime,jdbcType=VARCHAR},
      </if>
      <if test="logModule != null">
        #{logModule,jdbcType=VARCHAR},
      </if>
      <if test="logDescription != null">
        #{logDescription,jdbcType=VARCHAR},
      </if>
      <if test="logAble != null">
        #{logAble,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.mogao.pojo.Log">
    update log
    <set>
      <if test="logUsername != null">
        log_username = #{logUsername,jdbcType=VARCHAR},
      </if>
      <if test="logIp != null">
        log_ip = #{logIp,jdbcType=VARCHAR},
      </if>
      <if test="logContent != null">
        log_content = #{logContent,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null">
        log_time = #{logTime,jdbcType=VARCHAR},
      </if>
      <if test="logModule != null">
        log_module = #{logModule,jdbcType=VARCHAR},
      </if>
      <if test="logDescription != null">
        log_description = #{logDescription,jdbcType=VARCHAR},
      </if>
      <if test="logAble != null">
        log_able = #{logAble,jdbcType=INTEGER},
      </if>
    </set>
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.mogao.pojo.Log">
    update log
    set log_username = #{logUsername,jdbcType=VARCHAR},
      log_ip = #{logIp,jdbcType=VARCHAR},
      log_content = #{logContent,jdbcType=VARCHAR},
      log_time = #{logTime,jdbcType=VARCHAR},
      log_module = #{logModule,jdbcType=VARCHAR},
      log_description = #{logDescription,jdbcType=VARCHAR},
      log_able = #{logAble,jdbcType=INTEGER}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
</mapper>